  <div class="card book-form-card">
    <div class="card-header text-center">Book</div>
    <div class="book-form">
      <div class="form-group">
        <label>Title:</label>
        <input type="text" class="form-control" [(ngModel)]="book.title">
      </div>
      <div class="form-group">
        <label>Authors:</label>
        <input type="text" class="form-control" [(ngModel)]="book.authors">
      </div>
      <div class="form-group">
        <label>Category:</label>
        <input type="color" [(ngModel)]="book.category">
      </div>
      <div class="form-group">
        <input type="checkbox" [(ngModel)]="book.favourite">
        <label>Favourite</label>
      </div>
      <div class="form-group">
        <button class="btn" (click)="onCancel.emit()">Cancel</button>
        <button class="btn btn-success" (click)="onSave.emit(book)">Save</button>
      </div>
    </div>
  </div>