<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><span *laRepeat="3">*</span> {{ 'Books' | upperCase:4 }} <span *laRepeat="3">*</span></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" (click)="navigateHome()" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="books-panel" routerLinkActive="active">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="books-list" routerLinkActive="active">Book's list</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>