<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Books</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/book" routerLinkActive="active">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="books/list" routerLinkActive="active">Book's list</a>
      </li>
    </ul>
  </div>
</nav>

<form [formGroup]="searchForm" class="search">
  <div class="form-group">
    <label>Search by title: </label>
    <input class="from-control" formControlName="query" />
  </div>
</form>

<div class="row">

  <div class="col-md-9">
    <div class="row books">
      <la-book-card *ngFor="let book of books | async" [book]="book" [isSelected]="book == selected" (selected)="select(book)">
        <la-stars [rating]="book.rating" book-header></la-stars>
      </la-book-card>
    </div>
  </div>

  <div class="col-md-3">
    <la-book-form *ngIf="edited != null" [book]="edited" (save)="save($event)" (cancel)="cancel()"></la-book-form>
  </div>

</div>